<div class="h-screen flex flex-column align-items-center justify-content-center">
  <div class="w-3 relative">
    <h1 class="text-50 text-2xl uppercase mb-4">country quiz</h1>
    <div class="bg-white p-4 border-round-xl" *ngIf="allCountries.length>0">
      <img class="w-8rem absolute top-0 right-0" src="../../../../assets/images/undraw_adventure_4hum 1.svg" alt="">
      <h4 class="text-blue-800 text-left mt-5 mb-3" *ngIf="questionType===0; else other">{{oneCountry.capital}} is the
        capital of
      </h4>
      <ng-template #other>
        <div>
          <img class="mt-5 w-5rem mb-2 image" [src]="oneCountry.flags?.svg" alt="">
          <h4 class="mt-2 text-blue-800 text-left mb-3">Which country does this flag belong to?</h4>
        </div>
      </ng-template>
      <p-listbox [options]="fourCountries" [(ngModel)]="optionSelected" optionLabel="name.common" class="mt-6 w-full "
        (onChange)="selectedOption()" [disabled]="disabledOptions">
      </p-listbox>
      <div class="mt-5 text-right">
        <p-button label="Next" styleClass="p-button-warning" *ngIf="showButton" (click)="changeCountry()"></p-button>
      </div>
    </div>
  </div>
</div>