:host ::ng-deep .p-listbox {
  border: none;
}

:host ::ng-deep .p-listbox-item {
  background-color: #FFFFFF;
  padding: 15px !important;
  margin-bottom: 10px !important;
  border: 2px solid #6066D0 !important;
  border-radius: 12px !important;
  color: #6066D0 !important;
  font-family: 'Montserrat', sans-serif !important;
  font-family: 'Poppins', sans-serif !important;
  font-family: 'Ysabeau', sans-serif !important;
}


:host ::ng-deep .p-button-label {
  font-family: 'Montserrat', sans-serif !important;
  font-family: 'Poppins', sans-serif !important;
  font-family: 'Ysabeau', sans-serif !important;
}

:host ::ng-deep .p-listbox-item:hover {
  background-color: #F9A826 !important;
  color: white !important;
}

.correct-answer {
  background-color: #60BF88;
  color: white !important;
}

.incorrect-answer {
  background-color: #EA8282 !important;
  color: white !important;
}